.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row__posters {
  display: flex;
}

.row__poster {
  object-fit: container;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: trasnform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}
